body {
    background-color: #1abc9c;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #ecf0f1;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 2.5em;
}

#video-container {
    margin-top: 30px;
    position: relative;
}

#animated-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    animation: move 5s infinite alternate;
}

@keyframes move {
    0% { left: 0; top: 0; }
    25% { left: 75%; top: 0; }
    50% { left: 75%; top: 75%; }
    75% { left: 0; top: 75%; }
    100% { left: 0; top: 0; }
}
